# Virtual Environment
venv/
# Environment variables
.env
# Python cache
__pycache__/
*.py[cod]
*$py.class

backend/sessions
frontend/node_modules/
frontend/.next
# Outputs folder
outputs/

# VS Code settings (optional but recommended)
.vscode/

# Python packaging
build/
dist/
*.egg-info/

test_pages/

UI_samples/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

test.py